//--- GLOBAL VARIABLES
//---------------------------------------------------------

//- strings
- var siteName = "School cluster planning"
- var corporateName = "NSW Department of Education"
- var corporateNameShort = "NSW DoE"
- var siteConfigPath  = "config/"