//--- GLOBAL INCLUDES
//---------------------------------------------------------

include _variables.pug
include ../../../bower_components/text-generator-pug/lorem-ipsum-mixin.pug

//--- GLOBAL PATTERNS
//--------------------------------------------------------

include patterns/_global-header.pug

//--- PATTERNS
//--------------------------------------------------------

include components/social-sharing.pug
include components/to-top-link.pug
include patterns/section-header.pug
include patterns/banner.pug
include patterns/search-bar.pug
include patterns/steps.pug
include patterns/breadcrumbs.pug
include patterns/inpage-navigation.pug
include patterns/navigation-list.pug
include patterns/callout-block.pug
include patterns/subscription.pug