//
// Basic print styles
// --------------------------------------------------
// Source: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css

@media print {

  * {
    text-shadow: none !important;
    color: #000 !important; // Black prints faster: h5bp.com/s
    background: transparent !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  // Don't show links for images, or javascript/internal links
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; // h5bp.com/t
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 2cm .5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  // Chrome (OSX) fix for https://github.com/twbs/bootstrap/issues/11245
  // Once fixed, we can just straight up remove this.
  select {
    background: #fff !important;
  }

  body:before {
    content: url(../images/doe-black-logo-print.png) !important;
    display: block;
    margin-bottom: 10px;
  }

  .hidden,
  .skip-link,
  .global-header,
  #search-bar,
  .share__widget,
  .timeline__toggle,
  footer {
    display: none;
  }

  .panel-info__title {
    text-transform: camel-case;
  }

  [role="tabpanel"] {
    display: block !important;
  }

  .timeline__content {
    margin-bottom: 20px;
  }

  .timeline__details span {
    display: block;
  }

  main::after {
    content: "Copyright for this website is owned by the State of New South Wales through the Department of Education. The Department of Education supports and encourages the dissemination and exchange of publicly funded information and endorses the use of the Australian Governments Open Access and Licensing Framework (AusGOAL) (http://www.ausgoal.gov.au/). Copyright material available on this website is licensed under a Creative Commons Attribution 4.0 International (CC BY 4.0) licence (http://creativecommons.org/licenses/by/4.0/). This allows you to share and adapt this material for any purpose as long as attribution is given to: © State of New South Wales (Department of Education) 2015. For more information go to http://www.dec.nsw.gov.au/footer/copyright.";
    display: block;
    font-size: 14px;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid rgb(0, 0, 0);
  }

  div[data-mh] {
    height: auto !important;
  }
}
