/* Clearfix
================================================== */
%clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

/* Inline Block
================================================== */
%block--inline {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
