/* Font Colors
================================================== */
.u-text {
  &--primary    { color: $color-primary; }
  &--secondary  { color: $color-secondary; }
  &--tertiary   { color: $color-tertiary; }
  &--white      { color: $color-white; }
  &--black      { color: $color-black; }
}


/* Background Colours
================================================== */

.u-background {
  &--primary { background-color: $color-primary !important; }
  &--secondary { background-color: $color-secondary !important; }
  &--tertiary { background-color: $color-tertiary !important; }
  &--white { background-color: $color-white !important; }
  &--black { background-color: $color-black !important; }
  &--grey { background-color: $color-concrete !important; }
}
