/**
 *   To Use:
 *
 *   .grid__container - container class
 *   .grid__row - row class
 *
 *
 *   Use for percentage based columns:
 *   .grid__col--25  - 25%
 *   .grid__col--33  - 33%
 *   .grid__col--50  - 50%
 *   .grid__col--75  - 75%
 *   .grid__col--100 - 100%
 *
 *
 *   Use for column based classes:
 *   .grid__col--1 - .grid__col--12
 */
.grid {

  &__container {
    @include make-container();
    @include make-container-max-widths();

    & + &,
    .section + &,
    & + span#content,
    span#content + & {
      margin-top: (map-get($grid-gutter, sm));

      @include media( 'screen', '>=lg' ) {
        margin-top: (map-get($grid-gutter, lg));
      }
    }
  }

  &__row {
    @include make-row();

    & + & { margin-top: map-get( $default, 'spacing' ); }

    &--collapse {
      @include make-grid-collapse();
    }
  }

  &__block {
    @include make-row-block();
  }

  /* Whole */
  &__col--1-1 {
    width: 100%;
  }

  /* Halves */
  &__col--1-2,
  &__col--2-4,
  &__col--3-6,
  &__col--5-10 {
    width: percentage( 1 / 2 );
  }

  /* Thirds */
  &__col--1-3,
  &__col--2-6 {
    width: percentage( 1 / 3 );
  }

  &__col--2-3,
  &__col--4-6 {
    width: percentage( 2 / 3 );
  }

  /* Quarters */
  &__col--1-4 {
    width: percentage( 1 / 4 );
  }

  &__col--3-4 {
    width: percentage( 3 / 4 );
  }

  /* Fifths */
  &__col--1-5,
  &__col--2-10 {
    width: percentage( 1 / 5 );
  }

  &__col--2-5,
  &__col--4-10 {
    width: percentage( 2 / 5 );
  }

  &__col--3-5,
  &__col--6-10 {
    width: percentage( 3 / 5 );
  }

  &__col--4-5,
  &__col--8-10 {
    width: percentage( 4 / 5 );
  }

  /* Sixths */
  &__col--1-6 { width: percentage( 1 / 6 ); }
  &__col--5-6 { width: percentage( 5 / 6 ); }

  /* Tenths */
  &__col--1-10 { width: percentage( 1 / 10 ); }
  &__col--3-10 { width: percentage( 3 / 10 ); }
  &__col--7-10 { width: percentage( 7 / 10 ); }
  &__col--9-10 { width: percentage( 9 / 10 ); }


  @for $i from 1 through $grid-columns {
    &__col--#{$i} {
      @include make-col-span($i);
    }
  }

  @for $i from 1 through $grid-columns {
    &__col-offset--#{$i} {
      @include make-col-offset($i);
    }
  }
}
