head(data-theme='common', data-site-url="teach.nsw.edu.au", data-revision=revision)

  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(rel='shortcut icon', href='favicon.ico', type='image/vnd.microsoft.icon')
  link(rel='stylesheet', href='assets/css/normalize.css', media='screen')
  link(rel='stylesheet', href='assets/css/styles.css', media='screen')
  link(rel='stylesheet', href='assets/css/print.css', media='print')

  title #{pageName} | #{siteName}

  <!--[if lt IE 9]>
  <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
  <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
  <![endif]-->

