mixin global_header()
  div.global-header
    div.grid__container
      div.grid__row
        a.global-header__header(href="http://www.dec.nsw.gov.au/" title=corporateName aria-label=corporateName)
          abbr(title=corporateName aria-hidden="true")
              =corporateNameShort
