mixin banner(image_src,text)
  div.banner
    div.banner__image(style="background-image:url(assets/images/"+image_src+')')
    div.grid__container
      div.grid__row
        div.banner__text
          p
            = text