mixin breadcrumbs(breadcrumb_links)
  div.breadcrumbs.breadcrumbs--mobile
    div.grid__container
      div.grid__row
        div.breadcrumbs__navigation
          a(href='#!').breadcrumbs__return
            i(aria-hidden='true').icon-chevron-left
            | Back
  div.breadcrumbs
    div.grid__container
      div.grid__row
        div.breadcrumbs__navigation
          ul
            li
              a(href='#!')
                i(aria-hidden='true').icon-home
                span.sr-only
                  | home
            each link in breadcrumb_links
              li
                a(href='#!')
                  = link