mixin callout-block(button)
  div.grid__container
    div.grid__row
      div.block__callout
        div.callout__content--wrapper
          div.callout__content
            h3
              | Planning Status
            p
              | Proposed plans for this school's cluster is scheduled for release during the third quarter of 2017.
          if(button)
            div.callout__cta
              a(href='#subscription' role='button').button
                | notify me
              p
                | when plans are available