mixin search-bar(title, markerIcon)
  div.panel#search-bar(class= !title ? 'search-bar search-bar--slim' : 'search-bar')
    div.grid__container
      div.grid__row.grid__row--collapse
        if title
          h2
            | Find information about your school's cluster
        div.search-bar__container
          //- if markerIcon
            //- i.icon-map-marker(aria-hidden='true')
          form
            div.select__wrapper
              div.select__container
                label(for='searchType').sr-only
                  | Select search type
                select(id='searchTypeToggle' name='searchType')
                  option
                    | School Name
                  option
                    | Suburb
                  option
                    | Postcode
                  option
                    | Cluster Name
            div.input__wrapper
              label(for='search').sr-only
                | Search by school name, postcode or cluster name
              input(type='text' id='search' name='search' placeholder='Search by school name, postcode or cluster name')
              button
                i.icon-search(aria-hidden='true')
                span.sr-only
                  | search
