mixin section_header(heading)

  div(role="banner" class="section-header")
    div.grid__container
      div.grid__row
        div.section-header__title
          h1
            a(href="#")
              = heading