mixin steps(title,text)
  div.panel-steps__item
    div.step__circle.step__circle--large
      div.step__number
      span.step__line
    div.step__circle.step__circle--small
      div.step__arrow
      span.step__line
    h3
      = title
    p
      = text