mixin subscription()
  div.section
    a(id='subscription' tabindex='-1' href='#')
    div.grid__container
      div.grid__row.grid__row--collapse
        div.grid__block
          div.block__subscription-message(id='subscription-message')
            p
              | Your email was successfully submitted. You will receive updates about changes in this school and cluster.
              a(href="#")
                span.sr-only
                  | close message
                i.icon-times(aria-hidden='true')
          div.block__subscription
            div.subscription__wrapper
              div.subscription__content
                p
                  strong
                    | Receive an email notification when there's an update on cluster planning related to your school’s cluster.
              div.subscription__form
                form#form_email_324541
                  input(type="hidden" name="q324541:q1" value="Abermain Public School" class="hidden" id="q324541_q1")
                  input(type="hidden" name="q324541:q2" value="Cessnock" class="hidden" id="q324541_q2")
                  label(for='q324541:q3')
                    | Your email address:
                  div.input__inline
                    input(type='text' id='q324541_q3' name='q324541:q3')
                    span
                      button.button(type='submit' id="form_email_324541_submit")
                        | notify me
                        i.icon-spinner(aria-hidden="true")
                  div.error_msg
                    | Please enter a valid email address
