/*
  ==========

  Settings Table of Contents

  ==========

  Font Weights
  Defaults
	Theme Font Families
	Font Sizes
  Grid System
  Breakpoints

	Sprite
	Shades
	Colors
	Component Based Colors

*/


/* Font Weights
================================================== */
$font-weight:(
  'light':      400,
  'regular':    600,
  'bold':       800
) !default;


/* Defaults
================================================== */
$default: (
  'spacing':      40px,
  'font-family':  Arial, "Helvetica Neue", Helvetica, sans-serif,
  'font-weight':  map-get($font-weight, 'regular'),
  'font-size':    1.6rem,
  'line-height':  1.5,
  'radius':       2px
) !default;


/* Theme Font Families
================================================== */
@include font-face(montserrat, '../fonts/montserrat-light', map-get($font-weight, 'light'), normal);
@include font-face(montserrat, '../fonts/montserrat-regular', map-get($font-weight, 'regular'), normal);
@include font-face(montserrat, '../fonts/montserrat-bold', map-get($font-weight, 'bold'), normal);
@include font-face('FontAwesome', '../fonts/fontawesome-webfont', normal, normal);

$theme-font-family: 'montserrat', map-get($default, 'font-family');


/* Font Sizes
================================================== */
$font-size:(

) !default;
// 32
// 30
// 26
// 24
// 22
// 20
// 18
// 16
// 14


/* Grid System
================================================== */
$grid-columns:               10 !default;
$grid-gutter: (
  sm:  25px,
  lg:  40px
) !default;


// $container-max-widths: (
//   sm:  none,
//   md:  none,
//   lg:  980px,
//   xl:  1200px
// ) !default;

$container-max-widths: (
  sm:  none,
  md:  980px,
  lg:  1024px
) !default;


/* Responsive Breakpoints
================================================== */
/// Creates a list of global breakpoints
/// $breakpoints: ('phone': 320px);
// $breakpoints: (
//   sm:  480px,
//   md:  768px,
//   lg:  960px,
//   xl:  1220px
// ) !default;

$breakpoints: (
  sm:  480px,
  md:  768px,
  lg:  1024px
) !default;


/// Creates a list of static expressions or media types
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default;


/// Defines a number to be added or subtracted from each unit when declaring breakpoints with exclusive intervals
$unit-intervals: (
  'px': 1,
  'em': 0.01,
  'rem': 0.1
) !default;


/// Defines whether support for media queries is available
$im-media-support: true !default;

/// Selects which breakpoint to emulate when support for media queries is disabled
$im-no-media-breakpoint: 'desktop' !default;

/// Selects which media expressions are allowed in an expression for it to be used when media queries
/// are not supported.
$im-no-media-expressions: ('screen', 'portrait', 'landscape') !default;


/* Sprite
================================================== */
$sprite: (
  'grid': 40px,
  'location': '../images/sprite.png',
  'retina': '../images/sprite@2x.png',
  'width': 1000px
) !default;


// /* Shades
// ================================================== */
// $shades: (
//   'white':  #fff,
//   'black':  #242400
// ) !default;

// $grey: (
//   'base':     #333,
//   'light':    #F8F8F8,
//   'lighter':  #F8F8F8,
//   'lightest': #F8F8F8,
//   'medium':   #f2f2f2,
//   'dark':     #f2f2f2
// ) !default;


// Colors - Default Variables
// ==================================================
// $color : (
//   'primary':    #D8EAEA, //blue
//   'secondary':  #699,
//   'tertiary':   #F2ECE4,
//   'accent':     #F2ECE4,
//   'link':       #F2ECE4,
//   'error':      #FF0000
// ) !default;

// $blue : (
//   'light':      #D8EAEA,
//   'medium':     #44B9B9,
//   'dark':       #053F51
// ) !default;

// COLOURS
// $color-primary: rgb(216, 234, 234); //light blue
// $color-secondary: rgb(68,185,185);  //medium blue
// $color-tertiary: rgb(5, 63, 81);  //dark blue

$color-primary: rgb(225, 239, 243); //#e1eff3 light blue
$color-secondary: rgb(68, 185, 185);  //#44b9b9 medium blue
$color-tertiary: rgb(0, 62, 82);  //#003e52 dark blue

$color-concrete:                                              rgb(242,242,242);                       // #f2f2f2 lighter grey
$color-zircon:                                                rgb(224,224,224);                       // #e0e0e0 light grey
$color-magnesium:                                             rgb(180,180,180);                       // #b4b4b4 Medium
$color-bright-grey:                                           rgb(86,90,92);                          // #565A5C Strong grey
$color-mine-shaft:                                            rgb(51,51,51);                          // #333 dark grey

$color-black:                                                 rgb(0,0,0);                             // black
$color-dark-grey:                                             $color-mine-shaft;                        // dark grey
$color-medium-grey:                                           $color-bright-grey;                       // medium grey
$color-light-grey:                                            $color-magnesium;                         // light grey
$color-lighter-grey:                                          $color-zircon;                            // lighter grey
$color-off-white:                                             $color-concrete;                          // off white
$color-white:                                                 rgb(255,255,255);                       // white

$color-background:       $color-white;


/* Colors - Social media
================================================== */
$color-twitter: #00aced;
$color-facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;

/* Hamburger
================================================== */
$hamburger: (
  'color': $color-black,
  'transition': .3s,
  'size': 16px
) !default;


/* Component Based Themeing
================================================== */


$footer-logo: (
  lg: 170px,
  sm: 130px
) !default;

/* --[ BUTTONS ]-- */
$button: (
  'padding':          1.8rem 4.7rem,
  'font-family':      $theme-font-family,
  'font-size':        1.6rem,
  'font-weight':      map-get($font-weight, 'bold'),
  'line-height':      2rem,
  'color':            $color-white,
  'color-hover':      $color-white,
  'text-transform':   uppercase,
  'background':       $color-tertiary,
  'background-hover': $color-black,
  'radius':           3px
) !default;
