* {
  @include box-sizing;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:last-child { margin-bottom: 0; }
  &:focus { outline: 0; }
}

html {
  height: 100%;
  background-color: $color_background;
  font-family: $theme-font-family;
  font-size: 10px;
}

body {
  font-size: map-get($default, 'font-size');
  font-weight: map-get($font-weight, 'regular');
  > div { font-size: map-get($default, 'font-size'); }
}


/**
 * Heading
 */

h1,
.h1 {
  margin: 0;
  color: $color-tertiary;
  font-size: 2.2rem;
  font-weight: map-get($font-weight, 'regular');
  line-height: 3rem;

  @include media('screen', '>=lg') {
    font-size: 3.8rem;
    line-height: 4.8rem;
  }

  + p { margin-top: 0; }
}

h2,
.h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: map-get($font-weight, 'regular');
  line-height: 2.7rem;

  @include media('screen', '>=md', '<lg') {
    font-size: 3rem;
    line-height: 4rem;
  }

  @include media('screen', '>=lg') {
    font-size: 3rem;
    line-height: 4rem;
  }

  + p { margin-top: 0; }
}

h3,
.h3 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: map-get($font-weight, 'regular');
  line-height: 2.2rem;

  @include media('screen', '>=md', '<lg') {
    font-size: 2.2rem;
    line-height: 2.7rem;
  }

  @include media('screen', '>=lg') {
    font-size: 2.2rem;
    line-height: 3rem;
  }
}

h4,
.h4 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: map-get($font-weight, 'light');
  line-height: 1.8rem;

  @include media('screen', '>=lg') {
    font-size: 2.2rem;
    line-height: 3rem;
  }

}

h5,
.h5 {
  margin: 0;

}


/**
 * Paragraph
 */

p {
  font-size: 1.4rem;
  font-weight: map-get($font-weight, 'light');
  line-height: 2.4rem;

  @include media('screen', '>=lg') {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  &.emphasis {
    font-size: 1.6rem;
    line-height: 2.2rem;

    @include media('screen', '>=lg') {
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  + h1,
  + h2 {
    margin-top: 20px;
  }
}


/**
 * Links
 */

a {
  color: $color_black;

  &:hover,
  &:focus {

  }

  .icon-external-link {
    margin-left: 5px;
  }

  &.skip-link {
    position: absolute;
    top: -9999em;
    z-index: 600;
    color: $color-black;

    &:focus,
    &:active {
      top: 10px;
      left: 15px;
    }

    @include media('screen', '<md') {
      display: none;
    }
  }
}


/**
 * Panel
 */

.panel {
  & + &,
  & + .grid__container {
    margin-top: (map-get($grid-gutter, sm));

    @include media( 'screen', '>=lg' ) {
      margin-top: (map-get($grid-gutter, lg));
    }
  }
}


/**
 * sections
 */

.section {
  margin-top: (map-get($grid-gutter, sm));

  @include media( 'screen', '>=lg' ) {
    margin-top: (map-get($grid-gutter, lg));
  }
}

.about__section {
  margin-top: 25px;
}

.statistics__section {
  margin-top: 30px;
  border-top: 2px solid rgb(252, 177, 37);

  @include media('screen', '>=lg') {
    margin-top: 60px;
    border-top-width: 5px;
  }
}


/**
 * Screen reader only
 */

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;

  &-focusable:active,
  &-focusable:focus {
    position: static;
    overflow: visible;
    width: auto;
    height: auto;
    margin: 0;
    clip: auto;
  }
}

.hidden {
  display: none;
}


/**
 * Read more
 */

.more {
  &__content span {
    display: none;
  }

  &__link {
    font-weight: bold;

    @include media('screen', '<sm'){ display: block; }

    &:hover,
    &:focus {
      color: $color-tertiary;
      text-decoration: none;
    }
  }
}
