
/* Border - Top Radius
================================================== */
@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
          background-clip: padding-box;
}


/* Border - Bottom Radius
================================================== */
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
             background-clip: padding-box;
}


/* Border - RHS Radius
================================================== */
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
             background-clip: padding-box;
}


/* Border - LHS Radius
================================================== */
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
            background-clip: padding-box;
}


/* Double Border
================================================== */
@mixin double-borders($colorOne: #3C3C3C, $colorTwo: #999999, $radius: 0) {
  border: 1px solid $colorOne;
  box-shadow: 0 0 0 1px $colorTwo;
  border-radius: $radius;
}


/* Triple Border
================================================== */
@mixin triple-borders($colorOne: #3C3C3C, $colorTwo: #999999, $colorThree: #000000, $radius: 0) {
    border: 1px solid $colorOne;
    border-radius: $radius;
    box-shadow: 0 0 0 1px $colorTwo, 0 0 0 2px $colorThree;
}


