// Centered container element
@mixin make-container() {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: map-get($grid-gutter, sm);
  padding-left: map-get($grid-gutter, sm);

  @include media( 'screen', '>=lg' ) {
    padding-right: map-get($grid-gutter, lg);
    padding-left: map-get($grid-gutter, lg);
  }
}

@mixin make-container-max-widths() {
  max-width: map-get($container-max-widths, md);

  @include media( 'screen', '>=lg' ) {
    max-width: map-get($container-max-widths, lg);
  }
}

// Creates a wrapper for a series of columns
@mixin make-row() {
  @extend %clearfix;
  position: relative;
  margin-left: -(map-get($grid-gutter, sm));

  @include media( 'screen', '>=lg' ) {
    margin-left: -(map-get($grid-gutter, lg));
  }
}


@mixin make-grid-collapse() {
  margin-left: 0 !important;
  > * { padding-left: 0 !important; }
}


@mixin make-row-block() {
  margin-right: -(map-get($grid-gutter, sm));
  margin-left: -(map-get($grid-gutter, sm));
  // padding-top: map-get($grid-gutter, sm);
  // padding-bottom: map-get($grid-gutter, sm);

  @include media( 'screen', '>=lg' ) {
    margin-right: -(map-get($grid-gutter, lg));
    margin-left: -(map-get($grid-gutter, lg));
    // padding-top: map-get($grid-gutter, lg);
    // padding-bottom: map-get($grid-gutter, lg);
  }
}

// Make the element grid-ready (applying everything but the width)
@mixin make-col() {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: map-get($grid-gutter, sm);

  @include media( 'screen', '>=lg' ) {
    padding-left: map-get($grid-gutter, lg);
  }
}

// Set a width (to be used in or out of media queries)
@mixin make-col-span($columns, $grid-columns: $grid-columns) {
  width: percentage(($columns / $grid-columns));
}

// Get fancy by offsetting, or changing the sort order
@mixin make-col-offset($columns, $grid-columns: $grid-columns) {
  margin-left: percentage(($columns / $grid-columns));
}

@mixin make-col-push($columns, $grid-columns: $grid-columns) {
  left: percentage(($columns / $grid-columns));
}

@mixin make-col-pull($columns, $grid-columns: $grid-columns) {
  right: percentage(($columns / $grid-columns));
}

[class^="__col--"],
[class*="__col--"] {
  @include make-col();
}
