/*
	==========

	Sprite Table of Contents

	==========

	1. Basic Sprite Item
	2. Inline Sprite Item
	3. Text Sprite Replacement
	4. Retina Sprite replacement
	5. Sprite Position

*/


/* 1. Basic Sprite Item
================================================== */
@mixin sprite($xpos, $ypos, $location: map-get($sprite, 'location'), $grid: map-get($sprite, 'grid')){
	background: {
		image: url($location);
		repeat: no-repeat;
    position: (-($xpos*$grid)) (-($ypos*$grid));
  }
}


/* 2. Inline Sprite Item
================================================== */
@mixin sprite-inline($xpos, $ypos, $width: null, $height: null, $location: map-get($sprite, 'location'), $grid: map-get($sprite, 'grid')){
	@include sprite($xpos, $ypos, $location, $grid);
  @extend %block--inline;
	content: "";
	@if $width != null 	{ width: $width+px; }
	@if $height != null { height: $height+px; }
}


/* 3. Text Sprite Replacement
================================================== */
@mixin sprite-replace ($xpos, $ypos, $width: null, $height: null, $location: map-get($sprite, 'location'), $grid: map-get($sprite, 'grid')) {
 	@include sprite($xpos, $ypos, $location, $grid);
 	@if $width != null 	{ width: $width+px; }
	@if $height != null { height: $height+px; }
 	@extend %text-hide;
}


/* 4 Retina Sprite replacement
================================================== */
@mixin retina-sprite($icon-size, $original-size, $location: map-get($sprite, 'retina'), $width: map-get($sprite, 'width')){
	background: {
		image: url($location);
		size:(($width * 2)/($icon-size/$original-size)) auto;
	}
}


/* 5. Sprite Position
================================================== */
@mixin sprite-position($xpos, $ypos){
	background-position: (-($xpos * map-get($sprite, 'width'))) (-($ypos * map-get($sprite, 'width')));
}