
/* Transition Property
================================================== */
@mixin transition-property($property...) {
	transition-property: $property;
}


/* Transition Duration
================================================== */
@mixin transition-duration($duration...) {
	transition-duration: $duration;
}


/* Transition Timing Function
================================================== */
@mixin transition-timing-function($timing...) {
	transition-timing-function: $timing;
}


/* Transition Delay
================================================== */
@mixin transition-delay($delay...) {
	transition-delay: $delay;
}


/* Animation
================================================== */
@mixin animation($value) {
	animation: $value;
}


/* Keyframes
================================================== */
@mixin keyframes($name) {
	@keyframes $name { @content; }
}




