/* Font Face Import
================================================== */
@mixin font-face($family, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$src}.eot'); // IE9 compat
    src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
      url('#{$src}.woff2') format('woff2'),
      url('#{$src}.woff') format('woff'), // standards
      url('#{$src}.ttf') format('truetype');
    font-style: $style;
    font-weight: $weight;
  }
}


/* Letter Spacing
================================================== */
@mixin letter-spacing($letterspacing) {
  letter-spacing: $letterspacing/1000;
}


/* Text Shadow
================================================== */
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin text-shadow($horizontal, $vertical, $blur, $colour) {
	text-shadow: $horizontal $vertical $blur $colour;
	filter: dropshadow(color=$colour, offx=strip-unit($horizontal), offy=strip-unit($vertical));
}

/* Placeholder
================================================== */
@mixin placeholder {
  ::-webkit-input-placeholder { @content; }
       :-ms-input-placeholder { @content; }
           ::-moz-placeholder { @content; }
            :-moz-placeholder { @content; }
}
