#main__content {
  position: relative;
  padding-bottom: map-get($grid-gutter, sm);

  @include media('screen', '>=lg') {
    padding-bottom: map-get($grid-gutter, lg);
  }
}


.content {

  /**
   * Main Content
   */

  &__main {
    @include make-col();
    @include make-col-span(10);
    @include media( 'screen', '>=lg' ) { @include make-col-span(8); }

    h1 {
      margin-bottom: 20px;
    }
  }

  /**
   * Expandable Content
   */

  &__expandable {
    @include make-col();
    @include make-col-span(10);

    p {
      margin: 0;
      color: rgb(36, 36, 0);

      a {
        color: rgb(36, 36, 0);
      }
    }

  }

  /**
   * Content Divider
   */
  &__divider {
    @include make-col();
    @include make-col-span(10);

    + [class*='content'],
    + [class^='content'] {
      margin-top: 25px;

      @include media( 'screen', '>=lg' ) {
        margin-top: 45px;
      }
    }

    hr {
      margin: 0;
      height: 2px;
      border: 0;
      background-color: $color-primary;

      @include media('screen', '>=md') { height: 4px; }
    }

    &--grey {
      hr {
        border-color: $color-zircon;
      }
    }
  }
}
