/**
 * Footer
 */

footer {
  // margin-top: map-get($grid-gutter, sm);
  padding-top: map-get($grid-gutter, sm);
  padding-bottom: map-get($grid-gutter, sm);
  background-color: $color-zircon;

  @include media('screen', '>=lg') {
    // margin-top: map-get($grid-gutter, lg);
    padding-top: map-get($grid-gutter, lg);
    padding-bottom: map-get($grid-gutter, lg);
  }
}

/**
 * DOE Logo
 */
.corporate-logo {
  margin-top: 80px;
  margin-left: map-get($grid-gutter, sm);

  @include media('screen', '>=md') {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
  }

  @include media('screen', '>=lg') { margin-left: map-get($grid-gutter, lg); }

  &__link {
    display: block;
    width: map-get($footer-logo, sm);

    @include media('screen', '>=lg') { width: map-get($footer-logo, lg); }

    &:focus { outline: 1px solid $color-black; }

    img {
      width: 100%;
      height: auto;
    }
  }
}


