/**
 * Waiting spinner
 */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}


/**
 * Label
 */

label {
  display: block;
  margin-bottom: 8px;
  color: $color-tertiary;
  font-size: 1.4rem;
  line-height: 1.8rem;

  @include media('screen', '>=md') {
    margin-bottom: 8px;
    color: $color-black;
    font-size: 1.8rem;
    font-weight: map-get($font-weight, 'bold');
    line-height: 2.6rem;
  }
}

/**
 * Input
 */

 @include placeholder {
   color: #000
 }

input {

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $color-white inset;
  }

  &[type='submit'] {
    @extend .button;
  }

  &[type='text'],
  &[type='email'] {
    padding: 12px;
    border: 1px solid $color-magnesium;
    border-radius: 3px;
    font-size: 1.4rem;
    line-height: 1.7rem;
    transition: all 150ms linear;

    @include media('screen', '>=lg') {
      padding: 15px;
      font-size: 1.6rem;
      line-height: 1.9rem;
    }

    &:focus {
      border-color: $color-secondary;
      outline: 0;
      // box-shadow: 0 0 1px $color-secondary;
    }
  }
}


/**
 * Input Wrapper
 */

.input {
  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__inline {
    width: 100%;

    @include media('screen', '>=sm') {
      display: table;
    }

    input[type='text'],
    input[type='email'] {
      position: relative;
      width: 100%;

      @include media('screen', '<sm') {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      @include media('screen', '>=sm') {
        display: table-cell;
        vertical-align: top;
        float: left;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      @include media('screen', '>=md', '<lg') {
        padding: 1.7rem 1.2rem 1.6rem;
      }
    }

    span {
      display: block;
      position: relative;
      width: 100%;
      white-space: nowrap;

      @include media('screen', '>=sm') {
        display: table-cell;
        vertical-align: top;
        width: 1%;
        font-size: 0;
      }

      input[type='submit'],
      button {
        width: 100%;
        padding: 1.5rem 2.5rem 1.6rem;

        @include media('screen', '<sm') {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        @include media('screen', '>=sm') {
          width: auto;
          margin-left: -2px;
        }

        @include media('screen', '<md') {
          padding: .8rem 2rem;
          font-size: 1.4rem;
          line-height: 2.7rem;
        }

        i {
          display: none;
          margin-left: 10px;
          -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
        }
      }
    }

    &.has-error {
      input[type='text'],
      input[type='email'] {
        border-color: #f00;
      }
    }
  }
}

.error_msg {
  display: none;
  width: 100%;
  font-size: 1.2rem;
  margin-top: 8px;
  color: #C20002;
}
