/**
 * Tabs
 */
.tabs {
  padding: 20px 40px;
  background: $color-white;

  ul[role=tablist] {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a[role=tab] {
    display: block;
    margin-bottom: 20px;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-decoration: none;
    pointer-events: none;

    @include media('screen', '>=md', '<lg') {
      font-size: 2.4rem;
      line-height: 3.3rem;
    }

    @include media('screen', '>=lg') {
      font-size: 3rem;
      line-height: 4rem;
    }
  }

  &__panel-group {
    margin: 0;
    padding: 20px 40px;
    list-style: none;

    [role=tabpanel][aria-hidden=true] {
      display: none;
    }
  }

  /**
   * If JS Enabled
   */

  &.js-tabs {
    padding: 0;

    ul[role=tablist] {
      display: table;
      table-layout: fixed;

      li {
        display: table-cell;
        text-align: center;
      }
    }

    a[role=tab] {
      display: block;
      padding: 23px 0 15px;
      background-color: rgb(230, 233, 237);
      color: $color-tertiary;
      pointer-events: auto;
      text-decoration: underline;
      transition: all 150ms linear;

      @include media('screen', '>=md', '<lg') {
        padding: 28px 0 18px;
      }

      @include media('screen', '>=lg') {
        padding: 32px 0 21px;
      }

      &:hover,
      &:focus {
        background-color: darken(rgb(230, 233, 237), 5%);
      }

      &[aria-selected=true] {
        background-color: $color-white;
        color: $color-black;
        text-decoration: none;
        pointer-events: none;

        &:hover,
        &:focus {
          background-color: $color-white;
          text-decoration: underline;
        }
      }
    }
  }
}





