// Back to top link.

.button--top {
  display: none;
  position: fixed;
  background: $color-white;
  width: 38px;
  height: 38px;
  text-align: center;
  z-index: 20000;
  transform: translateY(200px);
  transition: all 0.2s;
  text-decoration: none;
  border-radius: 100%;
  border: 3px solid $color-magnesium;
  padding: 0;
  margin: 0;
  right: 5px;
  bottom: 5px;


  .icon-angle-up {
    display: block;
    font-size: 4rem;
    line-height: 2.8rem;
    // top: 0;
    // line-height: 0.8;
    color: $color-bright-grey;
    transition: color 0.2s;
  }

  &:hover,
  &:focus {
    outline: 0 !important;
    border-color: $color-bright-grey;
    background: $color-bright-grey;

    .icon-angle-up {
      color: $color-white;
    }
  }

  @include media('screen', '>=lg') {
    display: block;

    &[data-show="true"] {
      visibility: visible;
      transform: translateY(0);
    }

    &[data-stick="true"] {
      visibility: visible;
      position: absolute;
      transform: translateY(0);
    }
  }
}