/**
 * Show/Hide Accordion
 */

.accordion {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $color-white;

  h3 {
    margin-top: 25px;
    margin-bottom: 12px;
  }

  &__title {
    position: relative;
    padding: 15px 20px;
    background: $color-primary;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .2s;

    &:hover,
    &:focus {
      background: $color-zircon;
      text-decoration: underline;
    }

    &[aria-expanded=true] i.vertical {
      transform: rotate(180deg);
    }

    div + & {
      margin-top: 20px;
    }

    span {

      font-size: 1.6rem;
      line-height: 1.8rem;

      @include media('screen', '>=md', '<lg') {
        font-size: 1.9rem;
        line-height: 2.4rem;
      }

      @include media('screen', '>=lg') {
        font-size: 2.2rem;
        line-height: 3rem;
      }

      i {
        display: block;
        position: absolute;
        top: 20px;
        right: 10px;
        width: 12px;
        height: 4px;
        margin-top: -2px;
        border-radius: 1px;
        background: $color-tertiary;
        transition: transform .5s;
        transform-origin: 6px 2px 0;

        @include media('screen', '>=md', '<lg') {
          top: 50%;
          right: 16px;
          width: 16px;
          height: 4px;
          margin-top: -2px;
          transform-origin: 8px 2px 0;
          border-radius: 2px;
        }

        @include media('screen', '>=lg') {
          top: 50%;
          right: 20px;
          width: 20px;
          height: 6px;
          margin-top: -3px;
          transform-origin: 10px 3px 0;
          border-radius: 2px;
        }

        &.vertical {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__content {
    padding: 25px 20px;
    background: $color-white;

    *:first-child {
      margin-top: 0;
    }
  }
}

.show-hide {
  [role=tabpanel][aria-hidden=false]:focus {
    outline-offset: 0 !important;
    outline: 1px solid #003e52 !important;
  }

  + h3 {
    margin-top: 35px;
  }
}
