/**
 * Hero banner
 */

.banner {
  @extend %clearfix;
  position: relative;

  @include media('screen', '>=md') { height: 320px; }
  @include media('screen', '>=lg') { height: 500px; }

  &__image {
    width: 100%;
    height: 135px;
    background: {
      size: cover;
      position: center right;
      repeat: no-repeat;
    }

    @include media('screen', '>=md') { height: 100%; }
  }

  .grid__container {
    @include media('screen', '>=md') {
      position: absolute;
      right: 0;
      bottom: 40px;
      left: 0;
      width: 100%;
    }
  }

  &__text {
    @include make-col();
    @include make-col-span(10);

    padding-top: 25px;
    padding-bottom: 35px;

    font-size: 1.8rem;
    font-weight: map-get($font-weight, 'bold');
    line-height: 2.4rem;

    @include media('screen', '>=md') {

      @include make-col-span(8);

      position: relative;
      padding-top: 35px;
      padding-right: 15px;

      background: rgba(255, 255, 255, .9);

      font-size: 2.1rem;
      line-height: 2.7rem;

      &:before {
        position: absolute;
        top: 0;
        right: 100%;
        width: 9999px;
        height: 100%;
        background: rgba(255, 255, 255, .9);
        content: '';
      }
    }

    @include media('screen', '>=lg') {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }

    p {
      margin: 0;
      color: $color-tertiary;
      font-size: inherit;
      font-weight: map-get($font-weight, 'bold');
      line-height: inherit;
    }
  }
}


