/**
 * Breadcrumbs
 */

.breadcrumbs {
  padding-top: 15px;
  padding-bottom: 15px;
  background: $color-white;
  @include media('screen', '<md') { display: none; }

  @include media('screen', '>=md') {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &.breadcrumbs--mobile {
    display: block;
    @include media('screen', '>=md') { display: none; }
  }

  &__return {
    color: $color-tertiary;
    font-size: 1.4rem;
    line-height: 1.8rem;
    i { margin-right: 10px; }
  }

  &__navigation {
    @include make-col();
    @include make-col-span(10);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      @include media('screen', '<md') { display: none; }
    }

    li {
      display: inline-block;
      color: $color-mine-shaft;
      font-size: 1.4rem;
      font-weight: map-get($font-weight, 'light');
      line-height: 1.6rem;

      &:before {
        @extend .icon-chevron-right;
        padding-right: 12px;
        padding-left: 15px;
        font-family: fontawesome;
      }

      &:first-child:before { display: none; }

      a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $color-black;
          text-decoration: underline;
          transition: color 150ms linear;

          i { text-decoration: underline; }
        }

        i { font-size: 2rem; }
      }
    }
  }
}
