.block__callout {
  @include make_col();
  @include make_col-span(10);
}

.callout {

  &__content {
    width: 100%;
    background-color: $color-white;
    @include media('screen', '>=md') { width: percentage(6 / 10); }

    h3 {
      color: $color-tertiary;
      font-size: 1.8rem;
      font-weight: map-get($font-weight, 'light');
      line-height: 2.4rem;
      text-transform: uppercase;

      @include media('screen', '>=lg') {
        font-size: 2.2rem;
        line-height: 2.4rem;
      }
    }

    p {
      @include media('screen', '<lg') {
        font-size: 1.6rem;
        line-height: 2.2rem;
      }
    }

    &--wrapper {
      border: 5px solid $color-secondary;

      @include media('screen', '>=md') { display: table; }

      > div {
        padding: 25px 30px;

        @include media('screen', '>=md') {
          display: table-cell;
          vertical-align: middle;
          padding: 35px 40px;
        }
      }
    }

  }

  &__cta {
    width: 100%;
    background-color: $color-primary;
    text-align: center;

    @include media('screen', '>=md') { width: percentage(4 / 10); }

    button {
      @include media('screen', '<md') { width: 100%; }
    }
  }
}
