.global-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: $color-concrete;

  @include media('screen', '>=lg') {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__header {
    @include make-col();
    @include make-col-span(5);

    color: $color-black;
    font-size: 1.4rem;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:focus {
      abbr { outline: 1px solid $color-black; }
    }

    @include media('screen', '>=md') {
      font-size: 1.2rem;

      &:before {
        font-weight: map-get($font-weight, 'light');
        text-transform: uppercase;
        content: attr(title);
      }
    }

    @include media('screen', '>=lg') {
      font-size: 1.6rem;
    }

    abbr {
      font-size: inherit;
      text-decoration: none;

      @include media('screen', '>=md') { display: none; }
    }
  }
}
