.inpage__navigation {
  @include make-col();
  @include make-col-span(10);

  p {
    margin: 0 0 10px;
    font-size: 1.4rem;
    line-height: 1.8rem;

    @include media('screen', '>=lg') {
      font-size: 1.8rem;
      line-height: 2.6rem;
    }

    strong {
      color: #242400;
    }
  }
}

ul.navigation__list {
  margin: -4px 0 0;
  padding: 0;
  list-style: none;

  @include media('screen', '>=lg') { margin-top: -10px; }

  li {
    position: relative;
    padding-top: 4px;
    padding-left: 30px;
    font-size: 1.4rem;
    font-weight: map-get($font-weight, 'light');
    line-height: 2.4rem;

    @include media('screen', '>=lg') {
      padding-top: 10px;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    .icon-chevron-right {
      line-height: inherit;
      position: absolute;
      left: 0;
      padding-right: 20px;
      color: $color-secondary;
      font-family: fontawesome;
    }
  }

  a {
    font-size: inherit;
    line-height: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:focus { outline: 1px solid $color-black; }
  }

  h2 + & {
    margin-top: 5px;
  }

  & + h2{
    margin-top: 25px;
  }
}

.navigation__secondary {

  @include media('screen', '>=md') {
    @include make-col();
    @include make-col-span(7);
    @include make-col-push(3);
    display: table;
    padding-bottom: 100px;
  }

  ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 map-get($grid-gutter, sm);

    @include media('screen', '>=md', '<lg') {
      float: left;
      width: 50%;
      padding-bottom: 15px;
    }

    @include media('screen', '>=lg') {
      display: table-cell;
      width: auto;
      padding-right: 0;
      padding-left: map-get($grid-gutter, lg);
      vertical-align: top;
      list-style: none;

      &:first-child { padding-left: 0; }
    }

    @include media('screen', '<md') {
      + ul { margin-top: 14px; }
    }

    li {
      display: block;
      margin: 0;
      padding: 0;

      + li { margin-top: 14px; }
    }
  }

  a {
    color: $color-mine-shaft;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 150ms linear;

    @include media('screen', '>=md') {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }

    &:hover,
    &:focus {
      color: $color-black;
    }

    &:hover { text-decoration: underline; }
    &:focus { outline: 1px solid $color-black; }
  }

}
