.panel-steps {

  &__header {

    padding-top: 30px;
    padding-right: map-get($grid-gutter, lg);
    padding-bottom: map-get($grid-gutter, lg);
    padding-left: map-get($grid-gutter, lg);

    border-bottom: 2px solid $color-white;
    background-color: $color-primary;

    @include media('screen', '<md') {
      padding-right: map-get($grid-gutter, sm);
      padding-left: map-get($grid-gutter, sm);
      border-top: 4px solid $color-zircon;
    }

    p {
      margin-top: 5px;
    }
  }

  &__items {
    @extend %clearfix;
    border-top: 4px solid #318282;
    // border-top: 4px solid $color-tertiary;
    background-color: $color-white;

    @include media('screen', '>=md') { padding-right: 40px; }
  }

  &__item {
    @include make-col();
    @include make-col-span(10);
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    counter-increment: steps;

    @include media('screen', '<md') {
      padding-right: 25px;
      border-top: 4px solid $color-zircon;
      &:not(:first-child) .step__line { border-top: 4px solid $color-zircon; }
    }

    @include media('screen', '>=md') {
      @include make-col-span(1, 3);
      &:last-child .step__circle--small { display: none; }
    }

    &:first-child { border-top: 0; }

    h3 {
      color: $color-tertiary;
      text-transform: uppercase;
      font-weight: map-get($font-weight, 'light');
    }

    p {
      margin-top: 5px;
      color: rgb(36, 36, 0);
      font-size: 1.6rem;
      font-weight: map-get($font-weight, 'light');
      line-height: 2.4rem;

      @include media('screen', '>=lg') {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }
  }
}


/**
* Each step item with number and arrow
**/
.step {

  &__circle {
    position: absolute;

    &:before {
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      content: '';
    }

    &--large {
      top: -19px;
      width: 36px;
      height: 36px;
      margin-left: 20px;

      @include media('screen', '>=lg') {
        top: -28px;
        width: 50px;
        height: 50px;
        margin-left: 30px;

      }

      &:before {
        top: -3px;
        left: -3px;
        border: 3px solid $color-white;
      }

      > span {
        top: 15px;
        @include media('screen', '>=lg') { top: 24px; }
      }
    }

    &--small {
      display: none;
      top: -15px;
      right: 50px;
      width: 24px;
      height: 24px;

      @include media('screen', '>=md') { display: block; }

      &:before {
        top: -2px;
        left: -2px;
        border: 2px solid $color-white;
      }

      > span { top: 11px; }
    }

    > div {
      position: relative;
      z-index: 10;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-color: #318282;
      // background-color: $color-tertiary;

      &:after {
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        position: absolute;
        width: 100%;
        color: $color-white;
        text-align: center;
      }
    }
  }

  &__line {
    display: block;
    position: absolute;
    left: -15%;
    z-index: 2;
    width: 130%;
    height: 4px;
    background-color: #318282;
    // background-color: $color-tertiary;
  }

  &__number {

    &:after {
      padding-top: 6px;
      // top: 7px;
      font-size: 2.2rem;
      font-weight: map-get($font-weight, 'bold');
      // line-height: 5rem;
      // line-height: 2.2rem;
      content: counter(steps);

      @include media('screen', '>=lg') {
        // top: 11px;
        padding-top: 8px;
        font-size: 2.8rem;
        // line-height: 2.8rem;
      }
    }
  }

  &__arrow {
    &:after {
      padding-top: 2px;
      font-family: fontawesome;
      font-size: 1.6rem;
      font-weight: map-get($font-weight, 'regular');
      // line-height: 1.6rem;
      content: '\f061';
    }
  }
}

