.panel-info {
  @include media('screen', '<lg') {
    padding-right: map-get($grid-gutter, sm);
    padding-left: map-get($grid-gutter, sm);
  }

  &__items {
    @extend %clearfix;

    @include media('screen', '>=md') {
      margin-top: -(map-get($grid-gutter, sm));
      margin-left: -(map-get($grid-gutter, sm));
    }
  }

  &__item {

    @include media('screen', '>=md') {
      float: left;
      width: percentage(1 / 3);
      margin-top: map-get($grid-gutter, sm);
      padding-left: map-get($grid-gutter, sm);

      &:nth-child(3n+1) { clear: left; }
    }

    & + & {
      @include media('screen', '<md') { margin-top: 20px; }
    }
  }

  &__title {
    padding: 15px 20px;
    background: $color-tertiary;
    color: $color-white;

    @include media('screen', '>=lg') { padding: 20px 40px; }

    h3 {
      margin: 0;
      font-size: 1.8rem;
      line-height: 2.2rem;
      text-transform: uppercase;

      @include media('screen', '>=lg') {
        font-size: 2.6rem;
        line-height: 3.2rem;
      }
    }
  }

  &__text {
    padding: 15px 20px;
    background: $color-white;

    @include media('screen', '>=lg') { padding: 20px 40px; }

    p {
      margin: 0;
      font-size: 1.6rem;
      font-weight: map-get($font-weight, 'light');
      line-height: 2.4rem;

      @include media('screen', '>=lg') {
        font-size: 2rem;
        line-height: 3rem;
      }

    }
  }
}
