.search-bar {
  overflow: auto;
  padding-top: 30px;
  padding-bottom: 42px;
  border-bottom: 10px solid $color-secondary;
  background: $color-primary;

  &--slim {
    padding-top: 20px;
    padding-bottom: 20px;

    @include media('screen', '<md') {
      border-bottom: 0;
    }
  }

  h2 {
    margin: 0;

    @include media('screen', '<md') {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }

  &__container {
    position: relative;

    form {
      @include media('screen', '>=sm') {
        display: table;

        > div {
          display: table-cell;
          vertical-align: top;
        }
      }
    }

    h2 + & { margin-top: 10px; }

    .select__container {
      position: relative;

      @include media('screen', '>=sm') {
        height: 100%;
        width: 160px;
      }

      @include media('screen', '>=md') {
        width: 200px;
      }

      select {
        width: 100% !important;
        height: 100% !important;

        &:focus {
          border-color: $color-secondary;
        }
      }
    }
  }

  input[type='text'] {
    width: 100%;
    padding-right: 60px;
    border-radius: 0 0 4px 4px;

    @include media('screen', '<sm') {
      border-top: 0;
    }

    @include media('screen', '>=sm') {
      border-radius: 0 4px 4px 0;
      border-left: 0;
    }
  }

  input[type='submit'],
  button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0;
    border: 0;
    border-radius: 0 4px 4px 0;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background 150ms linear;

    > i {
      margin-top: -4px;
      padding: 0 15px;
      color: $color-mine-shaft;
      font-size: 2.4rem;
      transition: color 150ms linear;
    }

    &:hover,
    &:focus {
      background: $color-tertiary;
      // background: rgb(29, 108, 126);
      outline: none;

      > i {
        color: $color-white;
      }
    }
  }
}

.customSelect {
  width: 100%;
  padding: 12px;
  border: 1px solid $color-magnesium;
  border-radius: 4px 0 0 4px;
  background: $color-concrete;
  color: $color-mine-shaft;
  border-radius: 4px 4px 0 0;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  transition: all 150ms linear;

  @include media('screen', '>=sm') {
    border-radius: 4px 0 0 4px;
  }

  @include media('screen', '>=lg') {
    padding: 15px;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  i.icon-chevron-down {
    line-height: inherit;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -10px;
    color: $color-mine-shaft;
    font-family: fontawesome;
    content: '\f078';
    pointer-events: none;
  }

  &.customSelectHover {
    /* Styles form when the select box is hovered */
    background: $color-zircon;
  }

  &.customSelectOpen {
  /* Styles for when the select box is open */
  }

  &.customSelectFocus {
  /* Styles for when the select box is in focus */
    background: $color-zircon;
    border-color: $color-secondary;
    outline: 0;
  }

  &.customSelectDisabledOption {
  /* Styles for when the selected item is a disabled one */
  }

  &.customSelectDisabled {
  /* Styles for when the select box itself is disabled */
  }
}

.customSelectInner {
  /* You can style the inner box too */
  width: 100% !important;
}
