.section-header {

  padding-top: 20px;
  padding-bottom: 20px;
  background: $color-tertiary;

  &__title {
    @include make-col();
    @include make-col-span(10);

    h1 {
      margin-top: 0;
      font-size: 1.8rem;
      font-weight: map-get($font-weight, 'regular');
      line-height: 2.2rem;

      a {
        color: $color-white;
        text-decoration: none;

        &:focus {
          outline: 1px solid $color-white;
        }
      }

      @include media('screen', '>=lg') {
        font-size: 3.2rem;
        line-height: 3.9rem;
      }
    }
  }
}
