/** Share Widgets **/
.share__widget {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid rgb(204, 209, 217);

  > * {
    display: table-cell;
    vertical-align: middle;
    width: 50%;

    @include media('screen', '<sm') {
      display: block;
      width: 100%;
    }
  }

  body[class^='u-background'] &,
  body[class*='u-background'] & {
    border-top: 0;
  }
}

/* Social icons using AddThis */

.social-links {
  text-align: right;

  @include media('screen', '<sm') {
    margin-top: 15px;
    text-align: left;
  }

  a {
    display: inline-block;
    margin-left: 5px;
    border-radius: 4px !important;
    transform: none !important;

    &:focus { outline: 1px solid $color-black; }

    &.at-svc-email {
      span.at-icon-wrapper {
        background-color: #626262 !important;
      }

      &:hover,
      &:focus {
        span { background-color: lighten(#626262, 20%) !important; }
      }
    }

    &.at-svc-facebook {
      &:hover,
      &:focus {
        span.at-icon-wrapper { background-color: lighten($color-facebook, 10%) !important; }
      }
    }

    &.at-svc-twitter {
      &:hover,
      &:focus {
        span.at-icon-wrapper { background-color: lighten($color-twitter, 20%) !important; }
      }
    }

    &.at-svc-google_plusone_share {
      &:hover,
      &:focus {
        span.at-icon-wrapper { background-color: lighten(#dc4e41, 20%) !important; }
      }
    }

    span.at-icon-wrapper,
    span.at-icon-wrapper svg {
      width: 42px !important;
      height: 42px !important;
      transition: background-color 150ms linear;
    }
  }
}
