.block__subscription {
  @extend %clearfix;
  padding-top: 34px;
  padding-bottom: 34px;
  border-bottom: 10px solid $color-secondary;
  background: $color-primary;

  // @include media('screen', '<md') {
  //   padding-right: map-get($grid-gutter, sm);
  // }

  &-message {
    @extend %clearfix;
    display: none;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(171, 223, 223);

    @include media('screen', '<md') {
      padding-right: map-get($grid-gutter, sm);
    }

    p {
      @include make-col();
      position: relative;
      width: 100%;
      margin-top: 0;
      font-weight: bold;

      a {
        position: absolute;
        right: 20px;
        color: $color-tertiary;
        font-size: 2rem;
        transition: color 150ms linear;

        &:hover,
        &:focus {
          color: $color-white;
        }
      }
    }
  }
}


.subscription {

  &__wrapper {
    @include make-col();
    display: table;
    width: 100%;

    @include media('screen', '<lg') {
      padding-right: map-get($grid-gutter, sm);
    }

    > div {
      @include media('screen', '>=md') {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
      }
    }
  }

  &__content {
    font-size: 1.6rem;
    line-height: 2.2rem;

    @include media('screen', '>=md') {
      padding-right: 34px;
      border-right: 1px solid $color-secondary;
      font-size: 2.2rem;
      line-height: 3rem;
    }

    p {
      margin-top: 0;
      font-size: inherit;
      line-height: inherit;
      font-weight: bold;
    }
  }

  &__form {
    margin-top: 30px;

    input {
      border-color: $color-tertiary;
    }

    @include media('screen', '>=md', '<lg') {
      padding-left: map-get($grid-gutter, sm);
    }

    @include media('screen', '>=lg') {
      padding-right: map-get($grid-gutter, lg);
      padding-left: map-get($grid-gutter, lg);
    }
  }
}
