.timeline {

  &__items {
    overflow: hidden;

    &--expanded {
      .timeline__item--fade .timeline__marker:after {
        background: $color-concrete;
      }
    }
  }

  &__item {
    position: relative;

    @include media('screen', '>=md') {
      display: table;
      width: 100%;

      > div {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &:first-child {
      .timeline__marker:before { display: none; }
    }

    &:last-of-type() {
      .timeline__marker:after {
        display: none;
      }
    }

    &--fade {
      .timeline__marker:after {
        background: $color-concrete; /* Old browsers */
        background: -moz-linear-gradient(top, $color-concrete 0%, $color-white 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, $color-concrete 0%, $color-white 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, $color-concrete 0%, $color-white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      }
    }
  }

  &__date {
    padding-left: 55px;
    color: rgb(102, 102, 102);
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-transform: uppercase;

    @include media('screen', '>=md') {
      width: 100px;
      padding-right: 10px;
      padding-bottom: 20px;
      padding-left: 0;
      text-align: right;
    }
  }

  &__date--today {
    @include media('screen', '<md') {
      position: absolute;
      top: -2px;
    }
  }

  &__marker {
    position: relative;
    width: 35px;
    padding-bottom: 20px;

    &:before,
    &:after {
      position: absolute;
      left: 9px;
      z-index: 1;
      width: 2px;
      height: 50%;
      background-color: $color-concrete;
      content: '';
    }

    &:before { top: 0; }
    &:after {
      bottom: 0;

      @include media('screen', '<md') {
        bottom: -30px;
        height: calc(50% + 30px);
      }
    }

    i {
      display: block;
      position: relative;
      z-index: 2;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      border: 1px solid $color-secondary;
      border-radius: 100%;
      background-color: $color-secondary;
    }
  }

  &__marker--today {
    &:after {
      bottom: -5px;
      height: 100%;
    }

    i {
      background-color: $color-white;
    }
  }

  &__entry-wrapper {
    display: table;
    width: 100%;

    > div {
      display: table-cell;
      vertical-align: middle;
    }
  }


  &__content {
    position: relative;
    padding-bottom: 20px;

    &-wrapper {
      display: table;
      width: 100%;
      background-color: rgba(216, 234, 234, .65);
      transition: background-color 150ms linear;

      > span {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  &__link {
    display: block;
    position: relative;
    text-decoration: none;

    &:after {
      position: absolute;
      top: 50%;
      right: 100%;
      width: 0;
      height: 0;
      margin-top: -10px;
      border: solid transparent;
      border-width: 10px;
      border-color: rgba(216, 234, 234, 0);
      border-right-color: rgba(216, 234, 234, .65);
      content: '';
      pointer-events: none;
      transition: border-right-color 150ms linear;
    }

    &:hover,
    &:focus {
      &:after { border-right-color: darken(rgba(216, 234, 234, .65), 10%); }
      .timeline__content-wrapper { background-color: darken(rgba(216, 234, 234, .65), 10%); }
    }

    &--disabled {
      &:hover,
      &:focus {
        &:after { border-right-color: rgba(216, 234, 234, .65); }
        .timeline__content-wrapper { background-color: rgba(216, 234, 234, .65); }
      }
    }
  }

  &__details {
    display: block;
    padding: 25px 30px;
    font-size: 1.6rem;
    line-height: 2.4rem;

    @include media('screen', '<md') {
      padding: 10px 15px;
      font-size: 1.4rem;
      line-height: 2.1rem;
    }

    span {
      display: block;
      margin: 0;
      font-weight: map-get($font-weight, 'light');
      a { font-weight: map-get($font-weight, 'bold'); }
    }

    .title {
      color: $color-tertiary;
      font-size: inherit;
      font-weight: map-get($font-weight, 'regular');
      line-height: inherit;
      text-transform: uppercase;
    }

    .subtitle {
      color: $color-black;
      font-size: inherit;
      line-height: inherit;

      strong {
        @include media('screen', '<md') {
          color: $color-tertiary;
          font-weight: map-get($font-weight, 'regular');
          line-height: 1.8rem;
        }
      }
    }

    .link {
      color: $color-black;
      font-size: inherit;
      font-weight: map-get($font-weight, 'light');
      line-height: inherit;
      text-decoration: underline;

      i {
        margin-right: 20px;
        color: $color_secondary;
      }
    }
  }

  &__image {
    display: block;
    width: 250px;
    height: 100%;
    background: {
      size: cover;
      repeat: no-repeat;
      position: center center;
    }
    font-size: 0;

    @include media('screen', '<lg') { display: none !important; }
  }

  &__toggle {
    display: block;
    margin: 0 auto;
    font-family: map-get($button, 'font-family');
    font-size: 1.4rem;
    font-weight: map-get($font-weight, 'bold');
    line-height: 1.8rem;
    text-align: center;
    text-decoration: underline;

    @include media('screen', '>=md', '<lg') {
      font-size: 1.5rem;
      line-height: 2.1rem;
    }

    @include media('screen', '>=lg') {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    i {
      position: relative;
      top: -1px;
      margin-left: 5px;
      color: $color-secondary;
      font-size: 1.4rem;
      font-weight: normal;
      line-height: 1.8rem;

      @include media('screen', '>=md', '<lg') {
        font-size: 1.5rem;
        line-height: 2.1rem;
      }

      @include media('screen', '>=lg') {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
