@mixin button() {
  @extend %block--inline;
  @include box-sizing();

  padding: map-get($button, 'padding');

  color: map-get($button, 'color');
  font-size: map-get($button, 'font-size');
  line-height: map-get($button, 'line-height');
  text-align: center;
  font-family: map-get($button, 'font-family');
  font-weight: map-get($button, 'font-weight');
  text-decoration: none;
  text-transform: map-get($button, 'text-transform');

  border: 0;
  border-radius: map-get($button, 'radius');
  box-shadow: none;

  background: map-get($button, 'background');

  transition: background 200ms ease-out;

  &:hover,
  &:focus,
  &:active {
    background-color: #1d6c7e;
    color: map-get($button, 'color-hover');
  }

  &.btn--disabled,
  &[disabled] {
    opacity: .6;
    cursor: not-allowed;
  }
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

.button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;

  @include button;

  &--primary {
    background-color: $color-primary;

    &:hover,
    &:focus,
    &:active {
      background-color: shade($color-primary, 15%);
    }
  }

  &--secondary {
    background-color: $color-secondary;

    &:hover,
    &:focus,
    &:active {
      background-color: shade($color-secondary, 15%);
    }
  }

  &--tertiary {
    background-color: $color-tertiary;

    &:hover,
    &:focus,
    &:active {
      background-color: shade($color-tertiary, 15%);
    }
  }
}

.feedback-trigger {
  position: absolute;
  bottom: 75px;
  margin-left: 25px;
  padding: 10px;
  border: 2px solid $color-mine-shaft;
  border-radius: map-get($button, 'radius');
  background: rgba(0, 0, 0, 0);
  color: $color-mine-shaft;
  font-family: $theme-font-family;
  font-size: 1.3rem;
  font-weight: map-get($font-weight, 'regular');
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 200ms ease-out;

  @include media('screen', '>=md') {
    bottom: 60px;
  }

  @include media('screen', '>=lg') {
    position: static;
  }

  &:hover {
    background-color: $color-mine-shaft;
    color: $color-white;
  }
}

