//--- INCLUDES
//---------------------------------------------------------

include assets/pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Cluster/School"

//--- HTML
//---------------------------------------------------------

doctype html
html(class='', lang='en')

  include assets/pug/patterns/_global-head.pug

  body
    a.skip-link(href="#content")
      | Skip to content
    a.skip-link(href="#search")
      | Skip to search

    header
      +global_header()
      +section_header('School cluster planning')

    main#main__content
      +breadcrumbs(['Riverview high schools cluster'])
      +search-bar(false, false, 'small')

      span#content(tabindex='-1')
      +inpage-navigation([{'text': 'About the cluster', 'href': '#about'},{'text': 'Current cluster statistics', 'href': '#cluster-statistics'}])

      section.about__section
        a#about(href='#' tabindex=-1 aria-hidden="true")
        div.grid__container
          div.grid__row
            div.content__divider
              hr
            div.content__main
              h1
                | Mountain High School

      +callout-block(true)

      section.statistics__section
        a#cluster-statistics(href='#' tabindex=-1 aria-hidden="true")
        div#doe-cluster
        script(src='https://static-doe-cpw.visualise.today/create-iframe.js')
        script
          | createIframe('#doe-cluster', { charts: 'cluster-map,projection,student-enrolment,classrooms,play-space,schools-table'})

      +subscription()

      div.grid__container
        div.grid__row
          div.content__expandable
            p
              strong
                | Disclaimer
            p.more(data-more-length='290' data-more-text-hide='Read less' data-more-text-show='Read more')
              +lipsum(10, "sentences")

      +social-sharing(true)
    include assets/pug/components/footer.pug
    include assets/pug/patterns/_scripts.pug
