//--- INCLUDES
//---------------------------------------------------------

include assets/pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(class='', lang='en')

  include assets/pug/patterns/_global-head.pug

  body.u-background--grey

    a.skip-link(href="#content")
      | Skip to content
    a.skip-link(href="#search")
      | Skip to search

    header
      +global_header()
      +section_header(siteName)

    main#main__content
      h1.hidden
        | School cluster planning
      +banner(
        'banner.jpg',
        'School cluster planning is an opportunity for parents and teachers to see and influence the current conditions and future plans for school facilities in their area.'
      )

      +search-bar(true, true)

      span#content(tabindex='-1')

      div.grid__container
        div.grid__row.grid__row--collapse
          div.grid__block
            div.panel-info
              div.panel-info__items
                div.panel-info__item
                  div(data-mh='info__title').panel-info__title
                    h3
                      | what does cluster planning mean?
                  div(data-mh='info__text').panel-info__text
                    p
                      | This simple definition should ideally avoid ambiguous words like ‘assets’, which was not understood by parents in usability testing.

                div.panel-info__item
                  div(data-mh='info__title').panel-info__title
                    h3
                      | why has cluster planning been proposed?
                  div(data-mh='info__text').panel-info__text
                    p
                      | The answer here should really address what cluster planning ultimately hopes to achieve, and why people should be interested.

                div.panel-info__item
                  div(data-mh='info__title').panel-info__title
                    h3
                      | how will cluster planning affect schools?
                  div(data-mh='info__text').panel-info__text
                    p
                      | The answer to this question should help to increase empathy on the cluster level, as opposed to individual schools.

      // Cluster planning steps
      div.grid__container
        div.grid__row.grid__row--collapse
          div.grid__block
            div.panel-steps
              div.panel-steps__header
                h2
                  | How school cluster planning works
                p.emphasis
                  | Provide a general example written in plain English that would describe a typical scenario of the Cluster planning program affecting a school.

              div.panel-steps__items
                +steps(
                  'needs analysis',
                  'A description of how typically the cluster planning starts (i.e.,.Department of Education analyses current needs of schools in a cluster to create comprehensive solutions)'
                )
                +steps(
                  'Our Proposal',
                  'A description of what typically happens at this stage (i.e. Based on the identified needs The Department of Education publishes on the website proposed options for community consultation)'
                )
                +steps(
                  'Final Plan',
                  'Explain how feedback will be addressed and what is outcome of this stage (i.e. Based on the community feedback and other factors the final plan will be published)'
                )

      div.grid__container
        div.grid__row.grid__row--collapse
          div.grid__block
            div.tabs(role='presentation')
              ul(role='tablist')
                li.tabs__group
                  a(role='tab' aria-controls='tabs473' tabindex='0' id='tab_tabs473' href='#tabs473' aria-selected='false')
                    | Recent Updates
                  div(id='tabs473' role='tabpanel' aria-labelledby='tab_tabs473' aria-hidden='false' aria-label='tabpanel' data-timeline-show='3' data-timeline-more-text='View all' data-timeline-less-text='Show less').timeline__items
                    - for(var i = 0; i < 10; i++)
                      div.timeline__item
                        div.timeline__date
                          | 14/03/2017
                        div.timeline__entry
                          div.timeline__entry-wrapper
                            div.timeline__marker
                              i(aria-hidden='true')
                            div.timeline__content
                              a(href='#!').timeline__link
                                span.timeline__content-wrapper
                                  span.timeline__details
                                    span.h5.title
                                      | General Update
                                    span.subtitle
                                      strong
                                        | High-level introduction text about this update.
                                    span
                                      | This format could be used for general updates which don’t pertain to a particular cluster. It could contain contextual links or stand alone as a text update
                                    span.link
                                      i(aria-hidden='true').icon-chevron-right
                                      | View this cluster’s page
                                  span.timeline__image(style='background-image:url("https://placehold.it/256x171")')

                li.tabs__group
                  a(role='tab' aria-controls='tabs474' tabindex='0' id='tab_tabs474' href='#tabs474' aria-selected='false')
                    | Future Plans
                  div(id='tabs474' role='tabpanel' aria-labelledby='tab_tabs474' aria-hidden='false' aria-label='tabpanel' data-timeline-show='3' data-timeline-more-text='View all' data-timeline-less-text='Show less').timeline__items
                    div.timeline__item.timeline__item--today
                      div.timeline__date.timeline__date--today
                        | Today
                      div.timeline__entry
                        div.timeline__entry-wrapper
                          div.timeline__marker.timeline__marker--today
                            i(aria-hidden='true')
                    - for(var i = 0; i < 13; i++)
                      div.timeline__item
                        div.timeline__date
                          | JUN/2017
                        div.timeline__entry
                          div.timeline__entry-wrapper
                            div.timeline__marker
                              i(aria-hidden='true')
                            div.timeline__content
                              a(href='#!').timeline__link
                                span.timeline__content-wrapper
                                  span.timeline__details
                                    span.h5.title
                                      | westlake cluster
                                    span
                                      | Feedback closes for the Westlake cluster.
                                    span.link
                                      i(aria-hidden='true').icon-chevron-right
                                      | View this cluster’s page

      div.grid__container
        div.grid__row.grid__row--collapse
          div.grid__block
            div.grid__container.accordion
              h2
                | Frequently asked questions
              h3
                | Sub-section heading
              - var n = 0;
              div.show-hide(role='tablist')
                while n < 4
                  h4.accordion__title(id=('at'+n) aria-controls=('ac'+n) aria-expanded='true' role='tab' tabindex='0')
                    span
                      | How will cluster planning affect communities?
                      i(aria-hidden='true')
                      i.vertical(aria-hidden='true')
                  div(id=('ac'+n) aria-labelledby=('at'+n++) aria-expanded='true' role='tabpanel' tabindex='-1' aria-hidden='true')
                    div.accordion__content
                      p
                        +lipsum(10, "sentences")
              h3
                | Sub-section heading
              - var q = 5;
              div.show-hide(role='tablist')
                while q < 9
                  h4.accordion__title(id=('at'+q) aria-controls=('ac'+q) aria-expanded='true' role='tab' tabindex='0')
                    span
                      | How will cluster planning affect communities?
                      i(aria-hidden='true')
                      i.vertical(aria-hidden='true')
                  div(id=('ac'+q) aria-labelledby=('at'+q++) aria-expanded='true' role='tabpanel' tabindex='-1' aria-hidden='true')
                    div.accordion__content
                      p
                        +lipsum(10, "sentences")

      +social-sharing(false)

    include assets/pug/components/footer.pug
    include assets/pug/patterns/_scripts.pug

