//--- INCLUDES
//---------------------------------------------------------

include assets/pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Cluster/School"

//--- HTML
//---------------------------------------------------------

doctype html
html(class='', lang='en')

  include assets/pug/patterns/_global-head.pug

  body
    a.skip-link(href="#content")
      | Skip to content
    a.skip-link(href="#search")
      | Skip to search

    header
      +global_header()
      +section_header('School cluster planning')

    main#main__content
      +breadcrumbs(['Mountain High School'])
      +search-bar(false, false, 'small')

      span#content(tabindex='-1')

      div.section.about__section
        a#about(href='#' tabindex=-1 aria-hidden="true")
        div.grid__container
          div.grid__row
            div.content__main
              h1
                | Mountain High School
              h2
                | About this school
              p.more(data-more-length='360' data-more-text-hide='Read less' data-more-text-show='Read more')
                +lipsum(10, "sentences")

              +navigation-list([{'text': 'Go to this school\'s website', 'href': 'http://www.google.com'},{'text': 'View this school in the School Finder tool','href': 'http://www.google.com'}])

      +callout-block(false)

      +subscription()

      div.grid__container
        div.grid__row
          div.content__expandable
            p
              strong
                | Disclaimer
            p.more(data-more-length='290' data-more-text-hide='Read less' data-more-text-show='Read more')
              +lipsum(10, "sentences")

      +social-sharing(true)
    include assets/pug/components/footer.pug
    include assets/pug/patterns/_scripts.pug
