//--- INCLUDES
//---------------------------------------------------------

include assets/pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Styleguide"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include assets/pug/patterns/_global-head.pug

  body

    h1 heading 1
    h2 heading 2
    h3 heading 3
    h4 heading 4
    h5 heading 5

    hr
    p paragraph

    p standard grid
    div.grid__container
      div.grid__row
        - for (var x = 0; x < 10; x++)
          div.grid__col--1
            div.u-bg--primary
              | Column
      div.grid__row
        - for (var x = 0; x < 5; x++)
          div.grid__col--2
            div.u-bg--primary
              | Column
      div.grid__row
        - for (var x = 0; x < 3; x++)
          div.grid__col--1-3
            div.u-bg--primary
              | Column
      div.grid__row
        - for (var x = 0; x < 2; x++)
          div.grid__col--1-2
            div.u-bg--primary
              | Column
      div.grid__row
          div.grid__col--3-10
            div.u-bg--primary
              | Column
          div.grid__col--7-10
            div.u-bg--primary
              | Column
    hr
    p collapsed grid
      div.grid__container
        div.grid__row.grid__row--collapse
          - for (var x = 0; x < 10; x++)
            div.grid__col--1
              div.u-bg--primary
                | Column
        div.grid__row.grid__row--collapse
          - for (var x = 0; x < 5; x++)
            div.grid__col--2
              div.u-bg--primary
                | Column
        div.grid__row.grid__row--collapse
          - for (var x = 0; x < 3; x++)
            div.grid__col--1-3
              div.u-bg--primary
                | Column
        div.grid__row.grid__row--collapse
          - for (var x = 0; x < 2; x++)
            div.grid__col--1-2
              div.u-bg--primary
                | Column
        div.grid__row.grid__row--collapse
            div.grid__col--3-10
              div.u-bg--primary
                | Column
            div.grid__col--7-10
              div.u-bg--primary
                | Column
    hr
    p nested grid
      div.grid__container
          div.grid__row
            div.grid__col--1-2
              div.u-bg--primary
                | Column
            div.grid__col--1-2
              div.grid__row
                - for (var x = 0; x < 2; x++)
                  div.grid__col--1-2
                    div.u-bg--primary
                      | Column

    hr
    p Block grid
      div.grid__container
        div.grid__row.grid__row--collapse
          div.grid__col--1-1
            div.grid__block.u-bg--primary
              div.grid__container
                div.grid__row
                  - for (var x = 0; x < 3; x++)
                    div.grid__col--1-3
                      div.u-bg--white
                        | Column
