footer
  div.grid__container
    div.grid__row
      div.navigation__secondary

        button(class='feedback-trigger')
          | Provide Feedback

        ul
          li
            a(href='#!')
              | accessibility
          li
            a(href='#!')
              | information access
          li
            a(href='#!')
              | privacy

        ul
          li
            a(href='#!')
              | copyright
          li
            a(href='#!')
              | department contacts
          li
            a(href='#!')
              | nsw government

      div.corporate-logo
        a(href='#!').corporate-logo__link
          span.sr-only
            | NSW Department of Education
          img(src='assets/images/doe-black-logo.png' title='Department of Education' alt='NSW Department of Education corporate logo')