mixin social-sharing(slim)
  div.grid__container
    div.grid__row.grid__row--collapse
      div.grid__block.u-background--white
        div.grid__container
          div.grid__row.grid__row--collapse(class = slim ? 'share__widget share__widget--slim' : 'share__widget')
            h2
              | Share this page
            div.addthis_sharing_toolbox.social-links

script(src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5653ba85938e9d73')